<div class="book-preview">
    <main class="main-area">
        <div class="main-area-child"></div>
        <section class="content-area">
            <div class="book-details-area">
                <div class="book-info-area">
                    <div class="title-area">
                        <img class="heroicons-outlinearrow-small-" loading="lazy" alt=""
                            src="./public/heroiconsoutlinearrowsmallleft.svg" />

                        <div class="back-to-results">Back to results</div>
                    </div>
                    <div class="book-info-area-inner">
                        <img class="frame-child" loading="lazy" alt="" src="./public/rectangle-19@2x.png" />
                    </div>
                </div>
                <div class="book-summary">
                    <div class="summary">
                        <h1 class="dont-make-me">Don’t Make Me Think</h1>
                        <div class="author">
                            <div class="by-steve-krug-container">
                                By <span class="steve-krug">Steve Krug</span>, 2000
                            </div>
                            <div class="second-edition">Second Edition</div>
                        </div>
                        <div class="book-status">
                            <b class="status">Status</b>
                            <div class="rectangle-parent">
                                <div class="frame-item"></div>
                                <div class="in-shelf">In-Shelf</div>
                            </div>
                        </div>
                        <div class="button-background-parent">
                            <div class="button-background" id="buttonBackground"></div>
                            <div class="borrow">BORROW</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="metadata">
                <div class="div">
                    <div class="div1">
                        <div class="publish-date">Publish Date</div>
                        <div class="detail-values">
                            <div class="specifics">2000</div>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="publisher-wrapper">
                            <div class="publisher">Publisher</div>
                        </div>
                        <div class="new-riders-press">New Riders Press</div>
                    </div>
                    <div class="div3">
                        <div class="genre-wrapper">
                            <div class="genre">Genre</div>
                        </div>
                        <div class="fiction">Fiction</div>
                    </div>
                    <div class="div4">
                        <div class="isbn-wrapper">
                            <div class="isbn">ISBN</div>
                        </div>
                        <div class="div5">0486424715</div>
                    </div>
                </div>
            </div>
        </section>
        <div class="description">
            <div class="dont-make-me1">
                "Don't Make Me Think" by Steve Krug is a practical guide on web
                usability, emphasizing the importance of intuitive design to enhance
                user experience. It advocates for simplicity, clear navigation, and
                reducing cognitive load for users. Key principles include
                prioritizing user-centered design and conducting regular usability
                testing to identify and fix issues.
            </div>
        </div>
    </main>
</div>