<br><br>
<div>
    <div class="container">
        <input type="text"
            class="border w-full rounded p-2 outline-none focus:ring-1 focus:border-none ring-sky-500 ring-offset-1"
            placeholder="Search" name="query" id="search">

    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <h2 class="font-semibold">Trending</h2>
        <div class="w-24 my-2 h-[1px] rounded bg-gray-200"></div>
    </div>
    <div class="row">
        <div class="col-12 flex gap-3 flex-wrap">
            @for (book of this.newArrival(); track $index) {
            <app-book-card [bookData]="book"></app-book-card>
            }
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <h2 class="font-semibold">New Arrival</h2>
        <div class="w-24 my-2 h-[1px] rounded bg-gray-200"></div>
    </div>
    <div class="row">
        <div class="col-12 flex gap-3 flex-wrap">
            @for (book of this.trending(); track $index) {
            <app-book-card [bookData]="book"></app-book-card>
            }
        </div>
    </div>
</div>